
body{
    background-color: white;
}
nav{

    background: aqua;
    color: black;
    height: 50px;

}
nav ul {
    float: right;
}

nav ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    letter-spacing: 1.1px;
    padding: 5px;


}

li a {
    text-decoration: none;
}

li a:hover {
    background: red;
    color: white;
    cursor: pointer;
}
.logo {
    font-size: 1.8em;
    font-weight: bolder;
    color: darkred;
    margin: 20px 20px 5px 2px;

}

.content {
    margin: 0 auto;
    text-align: center;
}
.content h1 {
    text-size: 0.5em;
}

#head_2048 {
    font-size: 2em;
    border: 2px solid brown;
    min-width: 300px;
    padding: 10px;
    background: brown;
    color: white;
    font-weight: bolder;
}

#get_started {
    font-size: 0.8em;
}
#video {
    display: block;
    margin: 0 auto;
}

